---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Student / Developer</p>
  <p>
    I am a 4th year Information Technology student, an active student organization member, and the Chairperson of Digit ry. I have experience in such skills as team coordination, event planning, budgetary responsibility and broad communication skills.I have skills in Python, Java, JavaScript with a base knowledge in React and Express based applications. I also have skills in Photoshop and other artistic skills as well basic understanding of economics and business through my minor studies.My guildmates see me as an happy and active team player who succeeds under guidance, but equally capable of taking the initiative as I become familiar with tasks and responsibilities.In my freetime I enjoy running, videogames, television shows and programming of course. I enjoy taking on new challenges and learning something new, which is probably where my love and passion from coding stems from.
  </p>
  <p>
    Motto: The good parts in life ofter come through the hardest struggles
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Photography</li>
    <li>DJing</li>
    <li>Playing guitar</li>
    <li>Playing video games</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'DaVinci Resolve',
        description: 'Video Editing',
        href: 'https://www.blackmagicdesign.com/products/davinciresolve',
        icon: import('@/assets/tools/davinci.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Obsidian',
        description: 'Note Taking',
        href: 'https://obsidian.md/',
        icon: import('@/assets/tools/obsidian.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Vim',
        description: 'Text Editor',
        href: 'https://www.vim.org/',
        icon: import('@/assets/tools/vim.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Linux Fedora 43 KDE Workstation',
        description: 'Linux Distribution',
        href: 'https://fedoraproject.org/',
        icon: import('@/assets/tools/fedora.svg?raw')
      },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Pro',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Want to check out my projects or connect on LinkedIn?
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/klsova',
        text: 'followers',
        api: 'github/klsova'
      },
      {
        platform: 'LinkedIn',
        icon: 'link',
        color: '#2ca5e0',
        link: 'https://www.linkedin.com/in/kalle-sova-5b4616292/',
        text: 'connections',
        count: 263
      }
    ]}
  />
 
  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2024-04-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2024-07-26',
        content:
          'Website abstracted as a theme and published on <a href="https://github.com/cworld1/astro-theme-pure"target="_blank">Github</a>'
      },
      {
        date: '2024-07-27',
        content: 'Began writing website docs'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
