---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Welcome to my page!</h1>
			<p>
				My name is Kalle. I am Master's student in Data-Analytics, Information and Communications Technology at University of Turku. This is my portfolio page, feel free to explore it.
			</p>
		</main>
		<Footer />
	</body>
</html>
