---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<Layout title="Projects">
  <main>
    <h1>Projektit</h1>
    {projects.map(p => <p>{p.data.title}</p>)}
  </main>
</Layout>